@{
    ViewBag.Title = "Home Page";
}

<hr />

<style>
    header {
        width: 100%;
        position: relative;
        height: 650px;
        background: #ff4b1f; /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #ff4b1f, #1fddff); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #ff4b1f, #1fddff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    }

    h3 {
        text-align: center
    }
</style>

<header>
    <h3> BIENVENIDO</h3><
      
    
</header>
